@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

input {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.container-logo {
  max-width: 50%;
}

.container-logo img {
  max-width: 368px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input {
  border-radius: 8px;
  border: 1px solid #f8f1eb;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

.formulario input::placeholder {
  font-family: "Jost", sans-serif;
  font-size: 14px;
}

.formulario input,
.formulario button {
  max-width: 300px;
}

.formulario-senha {
  display: flex;
  max-width: 300px;
  gap: 10px;
}

.formulario-senha input {
  width: 100%;
}

.formulario button {
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  background: #a6255c;
  color: #fff;
  border: none;
}

.formulario button:disabled {
  opacity: 0.3;
  cursor: default;
}
